<!DOCTYPE html>
<html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式  th:src="@{/web/seehot/categoryedit.js}"-->
    <link rel="stylesheet" href="/js/ele/index.css" media="all">
    <link rel="stylesheet" href="/js/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/js/common.css" media="all">
    <style type="text/css">
        .upload-item .el-upload__tip {
            line-height: 8px !important;
        }
        .app-container {
            padding: 30px;
        }
        .el-form-item__content {
            margin-left: 70px !important;
        }
    </style>
</head>
<body id="main">

<div id="app" v-cloak>
    <div class="app-container">
        <!-- 新增编辑视频 -->

        <el-form ref="form" label-width="70px">
            <el-form-item label="名称">
                <el-input v-model="codeName" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="email" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item label="苹果ID">
                <el-input v-model="iphoneId" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item class="ele-form-center" style="display: flex;justify-content: center;margin: 20px 0;">
                <el-button type="primary" @click="dialogSubmit">新增</el-button>
                <el-button @click="dialogClose">取消</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<!-- 先引入 Vue -->
<script src="/js/ele/vue.js"></script>
<script src="/js/common/common-mixin.js"></script>
<!-- 引入组件库 -->
<script src="/js/ele/index.js"></script>
<script src="/js/layui/layui.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script>
    layui.use(['layedit'], function() {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;
        new Vue({
            el: '#app',
            data: function() {
                return {
                    codeName: "",
                    email: "",
                    iphoneId: ""
                }
            },
            methods: {
                /**
                 * 弹窗数据提交
                 */
                dialogSubmit() {
                    if (!this.codeName || !this.email  || !this.iphoneId) {
                        this.$message.error('请填写完整！');
                        return;
                    }
                    const loading = this.$loading({
                        lock: true,
                        text: '数据提交中，请等待！',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.3)'
                    });
                    // 提交数据
                    let formData = new FormData();
                    formData.append("codeName", this.codeName);
                    formData.append("email", this.email);
                    formData.append("iphoneId", this.iphoneId);
                    let that = this;
                    $.ajax({
                        url : '/iosMaster/save',
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        type : 'POST',
                        data : formData,
                        contentType : false,
                        processData : false,
                        cache : false,
                        success : function(data) {
                            loading.close();
                            if (data.success) {
                                that.$message({
                                    message: '恭喜你，信息提交成功了！',
                                    type: 'success'
                                });
                                that.dialogClose();
                            } else {
                                that.$message.error(data.msg);
                            }
                        }
                    });
                },
                /**
                 * 关闭弹窗
                 */
                dialogClose() {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            }
        })
    })

</script>
</html>
